<p>formulario-alumno works!</p>

<section class="formulario">
  <h1>Asistencia Alumno</h1>
  <div class="container-inputs">
    <fieldset>
      <label for="">Nombre</label>
      <input type="text" name="nombre" id="">
    </fieldset>
    <fieldset>
      <label for="">Apellido</label>
      <input type="text" name="apellido" id="">
    </fieldset>
    <fieldset>
      <label for="">Edad</label>
      <input type="number" name="edad" id="">
    </fieldset>
    <fieldset>
      <label for="">RUT</label>
      <input type="text" name="rut" id="">
    </fieldset>
    <fieldset>
      <select name="" id="">
        <option value="">Matematicas</option>
      </select>
    </fieldset>
  </div>
</section>
