<nav class="barra-navegacion">
  <ul>
    <li>
      <a href="">Inicio</a>
    </li>
    <li>
      <a href="">Registrar Seccion</a>
    </li>
    <li>
      <a href="">Registrar Alumno</a>
    </li>
    <li>
      <a href="">Contactanos</a>
    </li>
  </ul>
</nav>

<header class="encabesado">
  <h1>Registro de Asistencias de Inacap</h1>
</header>

<section class="container-lista-alumno">
  <app-alumno [listaAlumnos]="alumnos"></app-alumno>
</section>

<section class="container-form-alumno">
  <app-formulario-alumno [listaSecciones]="secciones" (registrarAlumno)="guardarAlumno($event)"></app-formulario-alumno>
</section>

<section class="container-form-seccion">
  <app-formulario-seccion (registrarSeccion)="guardarSeccion($event)"></app-formulario-seccion>
</section>
